<h2 id="title">Ember Filestack Demo</h2>

<button type="button" {{on "click" (fn (mut this.showFilestack) true)}}>Choose file</button>

{{#if this.showFilestack}}
  <FilestackPicker
    @accept="image/*"
    @onUploadDone={{this.fileSelected}}
    @onClose={{fn (mut this.showFilestack) false}}
  />
{{/if}}

{{#if this.fileHandle}}
  <div class="results">
    <div class="picked">
      <h3>You picked:</h3>
      <img src={{filestack-url this.fileHandle}} alt="picked">
    </div>

    <div class="previewer">
      <h3>Previewer:</h3>
      <FilestackPreview @handle={{this.fileHandle}} />
    </div>
  </div>
{{/if}}
